



body{
  background-color: #1971c2;
  min-height: 100vh;
  background-position: center;
  text-align: center;
  background-size: cover;
  color: #fff;

}

h1{
  text-align: center;
  margin-top: 10rem;
  margin-bottom:0px;
  font-size: 5rem;
}
input{
  border-radius: 5px;
  border: none;
  width: 400px;
  height: 22px;
}
button{
  border-radius: 5px;
  border: none;
}
li{
list-style: none;
}

p {
  font-size: 1em;
  text-align: center;
}

footer{
  padding-top: 10rem;
}
